.formContainer {
  width: 500px;
  height: 260px;
  margin: 50px auto;
}

.fieldContainer {
  display: flex;
  justify-content: space-between;
}

.textareaContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

textarea {
  width: 192px;
  border-radius: 5px;
}

.checkboxContainer {
  margin: 15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.buildBtn {
  position: relative;
  left: 205px;
}

.newForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 130px;
  margin-top: 180px;
  min-width: 205px;
  max-width: 1900px;
  height: 185px;
}

.newField {
  display: flex;
  margin: 10px 10px 0 0;
}

.newTextAreaContainer {
  margin-top: 15px;
}

.newTextArea {
  margin: 10px 10px 0 0;
}

.newCheckbox {
  margin-top: 15px;
}
